.header {
    display: flex;
}

.header__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    box-sizing: border-box;
    border-left: 1px solid #454757;
}

.header__page:first-child {
    border-left: none;
}

.header__page--active {
    color: #f0e7af;
    background-color: #454757;
    border-bottom: 4px solid #f0e7af;
}
