.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #8a8da6;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    background-color: #454757;
    border-radius: 8px;
    overflow: hidden;
}

.content__header {
    height: 48px;
    background-color: #dadcf5;
}

.content__main {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    color: #d5d7e6;
}

.content__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-top: auto;
    color: #454757;
    background-color: #dadcf5;
}

.fallback {
    display: flex;
    flex-direction: column;
    gap: 16px;
}